#basic-navbar-nav > div.me-auto.navbar-nav a,
#basic-navbar-nav > div:nth-child(2) a {
  padding: 10px 15px;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;  
  text-align: center;
}

#basic-navbar-nav > div.me-auto.navbar-nav a:hover,
#basic-navbar-nav > div:nth-child(2) a:hover {
  background-color: #f0ad4e;
  border-radius: 4px;
}

p.disclaimer {
  padding: 20px;
  background-color: gainsboro;
}

#root > div > nav > div > span > a {
  text-decoration: none;
  color: #fff;
}

.og_price {
  text-decoration: line-through;
  color: gray;
}

#root > div > main > div > div > div:nth-child(1) > img {
  width: 100%;
  max-height: 400px;
}

.brand {
  border: red 1px solid;
  padding: 5px 12px;
  background-color: red;;
  color:white;
  border-radius: 4px;
}